---
import { INFO, TECHNOLOGIES } from "../../info";
import { ExternalLink, Github } from "@lucide/astro";

const ICONS_PATH = "/technologies/";

const getIcon = (tech: keyof typeof TECHNOLOGIES) => {
    switch (tech) {
        case TECHNOLOGIES.KOTLIN:
            return ICONS_PATH + "Kotlin.svg";
        case TECHNOLOGIES.REACT_NATIVE:
            return ICONS_PATH + "React.svg";
        case TECHNOLOGIES.MONGODB:
            return ICONS_PATH + "MongoDB.svg";
        case TECHNOLOGIES.NEXTJS:
            return ICONS_PATH + "Next.js.svg";
        default:
            return "";
    }
};
---

<section id="projects" class="py-10 md:py-14">
    <div class="w-full px-8 fade-element delay-2">
        <div class="mb-7">
            <h2
                class="text-3xl md:text-4xl text-zinc-900 dark:text-zinc-100 font-semibold"
            >
                Projects
            </h2>
        </div>

        <div class="flex flex-col gap-10">
            {
                INFO.personalProjects.map((pp) => (
                    <div class="flex flex-col p-2 lg:p-4 gap-4  lg:gap-10 border rounded-xl border-zinc-200 dark:border-zinc-400">
                        <img
                            src={pp.photo}
                            alt={pp.title}
                            class="flex-1 object-contain w-full h-80 max-h-72  mx-auto"
                        />
                        <div class="p-2 lg:p-0  flex flex-col flex-1">
                            <div class="flex flex-col flex-1 mb-5 lg:mb-0">
                                <div class="flex justify-between items-center flex-wrap mb-3">
                                    {pp.link ? (
                                        <a
                                            href={pp.link.url}
                                            target="_blank"
                                            class="hover:scale-105 hover:opacity-70 text-zinc-900 dark:text-zinc-100 transition-all flex items-center gap-1 md:text-xl"
                                        >
                                            <p class="font-semibold">
                                                {pp.title}
                                            </p>
                                            <ExternalLink
                                                size={15}
                                                class="text-zinc-500 dark:text-zinc-400"
                                            />
                                        </a>
                                    ) : (
                                        <p class="font-semibold  text-zinc-900">
                                            {pp.title}
                                        </p>
                                    )}

                                    {pp.github_url && (
                                        <a
                                            href={pp.github_url}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="hover:scale-105 hover:opacity-70 text-zinc-900 dark:text-zinc-300 transition-all"
                                        >
                                            <Github />
                                        </a>
                                    )}
                                </div>
                                <p
                                    class="text-zinc-600 dark:text-zinc-300 description text-sm lg:text-base py-2"
                                    set:html={pp.description}
                                />
                            </div>
                            <div class="flex gap-2">
                                {pp.technologies.map((tech) => (
                                    <img
                                        src={getIcon(tech as any)}
                                        alt={tech}
                                        class="w-5 h-5 lg:w-6 lg:h-6"
                                    />
                                ))}
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
